# Игнорируем модели и логи
best_model/
*.zip
*.npz

# Игнорируем виртуальную среду
venv/
env/

# Игнорируем скомпилированные файлы Python
*.pyc
__pycache__/

# Игнорируем временные файлы
tempCodeRunnerFile.py
*.log